# Python
*.pyc
*__pychache__
/__pycache__
__pycache__/run_test.cpython-312.pyc
Core/__pycache__

# Virtual enviroments
venv/
.venv/
/venv
venv/Lib/site-packages/pip-24.2.dist-info/AUTHORS.txt

# IDEs
.vscode/

#Files and folders
ClonedRepo/
Reports/*
Gitleaks/gitleaks-report.json
gitstat.log
