# Python
*.pyc
*__pychache__

# Virtual enviroments
venv/
.venv/
/venv

# IDEs
.vscode/
venv/Lib/site-packages/pip-24.2.dist-info/AUTHORS.txt
/__pycache__
__pycache__/run_test.cpython-312.pyc
Core/__pycache__
Gitleaks/gitleaks-report.json
gitstat.log
